@page
@model Vrote_Diana.Pages.Rents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.PossibleBuyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.PossibleBuyer.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Home)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Home.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.ReturnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rent?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
